<h1><%= @machine.location %> Vending Machine</h1>
 <%= @machine.snacks.each do |snack|  %>
 <li><%= snack.name %></li>
 <li><%= snack.price.to_f %></li>
    <%end %>
  <p> Average Price:
     <%= @machine.snacks.average_price%>
  </p>
